#delegateEntryList{
    margin-bottom: 5px;
}

.delegateEntryFoldout{
    background-color: rgb(241, 134, 50);
    border-color: rgb(218, 104, 15);
    border-width: 2px;
    border-radius: 5px;
    -unity-font-style: bold;
    font-size: 15px;
}

#btnAddNewMethod{
    top:3px;
    position: absolute;
    right: 35px;
}

#btnRemoveAllMethods{
    top:3px;
    position: absolute;
    right: 10px;
}