.delegateEntryFoldout{
    background-color: rgb(0, 135, 0);
    border-color: rgb(40, 40, 40);
    border-width: 2px;
    -unity-font-style: bold;
    font-size: 15px;
    margin: 0px 0px 0px 0px;
}

#delegateEntries{
    background-color: rgb(55, 55, 55);    
}

#btnAddNewMethod{
    position: absolute;
    top: 0px;
    right: 39px;
}

#btnRemoveAllMethods{
    position: absolute;
    top: 0px;
    right: -1px;
}